<h1 class="header"><strong>Speaky</strong></h1>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>English learning app</ion-card-subtitle>
    <ion-card-title>Learn your way</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   This is a unique app for all the user to learn english
  </ion-card-content>

  <ion-button expand="block" routerLink="/login" fill="outline">Login</ion-button>
  <span><strong>Don't have account?</strong></span>
  <ion-button expand="block" routerLink="/register" fill="outline">Register </ion-button>
</ion-card>
